Repository open-contracting/standard, pull requests merged in 2021-04, with the labels that each got.

#1225 Add the codes from EU extension
  docs/history/changelog.md
  schema/codelists/documentType.csv
  schema/codelists/milestoneType.csv
  schema/codelists/partyRole.csv
Labels: Codelist: Codes, Codelist: Open

#1237 Add Tender.selectionCriteria
  docs/history/changelog.md
  schema/dereferenced-release-schema.json
  schema/release-schema.json
  schema/versioned-release-validation-schema.json
Labels: Schema: Fields

#1229 Standardize documents descriptions
  docs/history/changelog.md
  schema/dereferenced-release-schema.json
  schema/release-schema.json
Labels: Semantics

#1232 Update supplier description (1149)
  docs/history/changelog.md
  schema/codelists/partyRole.csv
  schema/dereferenced-release-schema.json
  schema/release-schema.json
Labels: Codelist: Closed, Semantics
