Repository open-contracting/standard, pull requests merged in 2021-02, with the labels that each got.

#1201 Add termination codes to contractStatus
  docs/history/changelog.md
  schema/codelists/contractStatus.csv
  schema/dereferenced-release-schema.json
  schema/release-schema.json
  schema/versioned-release-validation-schema.json
Labels: Codelist: Closed

#1209 electronic goods => digital goods
  docs/history/changelog.md
  schema/codelists/procurementCategory.csv
Labels: Codelist: Closed

#1210 Add the itemClassificationSchemes codes from legal basis
  docs/history/changelog.md
  schema/codelists/itemClassificationScheme.csv
Labels: Codelist: Codes

#1200 Deprecate all the codes from submissionMethods codelist
  docs/history/changelog.md
  schema/codelists/submissionMethod.csv
  schema/dereferenced-release-schema.json
  schema/release-schema.json
  schema/versioned-release-validation-schema.json
Labels: Codelist: Closed

#1182 Deprecate 'funder' and update buyer description in partyRole
  docs/examples/organizational-units/moldova-tender.json
  docs/guidance/map/awards_contracts_buyers_suppliers.md
  docs/history/changelog.md
  schema/codelists/partyRole.csv
  schema/release-schema.json
Labels: Codelist: Codes, Codelist: Open, Focus - Documentation, Semantics

#1189 Documents-expand-description-documentation
  docs/history/changelog.md
  docs/schema/reference.md
  schema/dereferenced-release-schema.json
  schema/release-schema.json
Labels: Semantics

#1218 Add COFOG to itemClassificationScheme
  docs/history/changelog.md
  schema/codelists/itemClassificationScheme.csv
Labels: Codelist: Codes

#1219 Add codes to documentType from the tariffs extension
  docs/history/changelog.md
  schema/codelists/documentType.csv
Labels: Codelist: Open
