Repository open-contracting/standard, pull requests merged in 2021-07, with the labels that each got.

#1336 codelists: add unsuccessfulDetails to documentTypes
  docs/history/changelog.md
  schema/codelists/documentType.csv
Labels: changes-required

#1354 Switch position of date and period in contract to correspond with order in award
  docs/history/changelog.md
  schema/dereferenced-release-schema.json
  schema/release-schema.json
  schema/versioned-release-validation-schema.json
Labels: Schema: Fields

#1353 Replace "tender submission" etc with "bid submission"
  docs/guidance/map/pre-qualification.md
  docs/history/changelog.md
  schema/codelists/method.csv
  schema/codelists/milestoneType.csv
  schema/codelists/partyRole.csv
  schema/release-schema.json
Labels: Codelist: Closed, Focus - Documentation, Schema: Fields

#1345 Update examples in the Notes for the Pre-gualification guidance
  docs/guidance/map/pre-qualification.md
  docs/history/changelog.md
Labels: Focus - Documentation, quick

#1208 Clarify contracts description (896)
  .github/workflows/ci.yml
  docs/guidance/map/awards_contracts.md
  docs/guidance/map/awards_contracts_buyers_suppliers.md
  docs/history/changelog.md
  docs/schema/reference.md
  schema/codelists/contractStatus.csv
  schema/codelists/documentType.csv
  schema/codelists/releaseTag.csv
  schema/dereferenced-release-schema.json
  schema/release-schema.json
  schema/versioned-release-validation-schema.json
Labels: Focus - Documentation, Schema: Fields, Semantics

#1216 Clarify contracting process, record and ocid, define planning process (866)
  docs/_static/png/contracting_process.png
  docs/getting_started/quality.md
  docs/getting_started/releases_and_records.md
  docs/guidance/build.md
  docs/guidance/build/change_history.md
  docs/guidance/build/hosting.md
  docs/guidance/map.md
  docs/guidance/map/contracting_planning_processes.md
  docs/guidance/map/pre-qualification.md
  docs/guidance/map/related_processes.md
  docs/guidance/map/unsuccessful_processes.md
  docs/history/changelog.md
  docs/schema/identifiers.md
  docs/schema/records_reference.md
  schema/codelists/relatedProcessScheme.csv
  schema/dereferenced-release-schema.json
  schema/record-package-schema.json
  schema/release-schema.json
  schema/versioned-release-validation-schema.json
Labels: changes-required
